/* My Styles */

header {
	position: relative;
}
header h1 {
	position: absolute;
	bottom: 0;
	left: 50px;
	font-size: 2em;
}
h2 {
	color: white;
}
.panel.callout h4 {
	color: white;
}
.panel.callout p {
	color: white;
}
body {
	background: rgb(151, 28, 48);
}
.welcome {
	text-align: center;
}
.reveal-modal-bg {
	background: rgba(3, 59, 50, 0.75);
}

/* column 2 styling */
.panel.callout {
	background: rgb(3, 59, 50);
}